.container {
	width: 288px;
	height: 288px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: center;

	transition: 0.5;

	background: url(../../assets/QRCodeBg.svg), linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 100%, 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.qrcode {
	width: 160px;
	height: 160px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../../assets/QRCode.svg);
}
